<!DOCTYPE html>
<html lang="it">
<head>
<title >Marzò – grazie da tutti noi | Thank you from Marzò</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="Marzò">
<meta name="description" content="Marzò are olive oil, saffron and hemp growers.">
<meta http-equiv="refresh" content="3; url=https://marzo.li/" /><!-- Skip, 3 seconds -->

<!-- Matomo -->
	<script type="text/javascript">
	  var _paq = window._paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//analytics.inspiredlabs.co.uk/";
	    _paq.push(['setTrackerUrl', u+'matomo.php']);
	    _paq.push(['setSiteId', '6']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//analytics.inspiredlabs.co.uk/matomo.php?idsite=6&amp;rec=1" style="border:0;" alt="" /></p></noscript>
	<!-- End Matomo Code -->

<!--link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/-->
	<style>html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}article,body,h1,h2,html,main{box-sizing:border-box}.athelas{font-family:athelas,georgia,serif}.pa4{padding:2rem}.tc{text-align:center}.f-headline{font-size:6rem}.f3{font-size:1.5rem}.f4{font-size:1.25rem}@media screen and (min-width:30em) and (max-width:60em){.f1-m{font-size:3rem}.f2-m{font-size:2.25rem}}@media screen and (min-width:60em){.f-headline-l{font-size:6rem}}</style>
<!-- https://uncss-online.com/ -->
</head>
<body>

<main>
	<!-- THANK YOU -->
	<article id="grazie" class="athelas pa4">
		<h1 class="it f3 f1-m f-headline-l tc" lang="it">Grazie</h1>
	  <h2 class="f4 f2-m f-headline tc">
	  <script type = "text/javascript">
	  	<!--
	  	var inspiration =
	  	[
	  		"Thank you and grazie da tutti noi! –<b>Marzò</>",

	  		"Many thanks and Grazie mille! –<b>Everyone&nbsp;at&nbsp;Marzò</>"

	  		];

	  	document.write (inspiration[Math.floor( Math.random() * 2 )]);
	  	// -->
	  	</script>
  	</h2>
	</article>
</main>
</body>
</html>
